body{
    background-color: white;
}


h1{
    font-family: 'Poppins';
    color: orangered;
    font-size: 40px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    
}